container_commands:
  00_link_storage_folder:
    command: "php artisan storage:link"
    cwd: "/var/app/ondeck"
  01_cofnig:
    command: "php artisan config:clear"
    cwd: "/var/app/ondeck"
  02_chmod-storage:
    command: "chmod -R 777 /var/app/ondeck/storage"
  03_chmod-storage2:
    command: "sudo chmod -R 777 /var/app/ondeck/storage"
  04_chmod-storage222:
    command: "sudo chmod -R 777 /var/app/ondeck/storage"
  05_chmod-storage3:
    command: "sudo chmod -R 777 /var/app/ondeck/storage"